* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Baloo Paaji 2", Georgia, "Times New Roman", Times, serif;
}

.logo {
  width: 5em;
  height: 4em;
  margin-top: 1em;
}

.navbar {
  width: 100%;
  height: 15vh;
  background-color: #666;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4em;
  font-weight: 600;
}

ul li {
  display: inline-block;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

.link-container {
  margin: 0em 2em 0em 1em;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.navbar a {
  padding: 0.5em;
}

.navbar a:hover {
  background-color: #333;
  border-radius: 0.5em;
}

.more-btn {
  background: #444;
  display: flex;
  border-radius: 0.5em;
  /* justify-content: space-between; */
}

.more-btn img {
  width: 4em;
  height: 1.7em;
}

.main-content-div {
  width: 50vw;
  height: 100vh;
  background-color: #888;
}
