* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Baloo Paaji 2", Georgia, "Times New Roman", Times, serif;
  max-width: 100%;
  background-color: #ddd;
}

.logo {
  width: 5em;
  height: 4em;
  margin-top: 1em;
}

.navbar {
  width: 100%;
  height: 15vh;
  background-color: #666;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4em;
  font-weight: 600;
}

ul li {
  display: inline-block;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

.link-container {
  margin: 0em 2em 0em 1em;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.navbar a {
  padding: 0.5em;
}

.navbar a:hover {
  background-color: #333;
  border-radius: 0.5em;
}

.more-btn {
  background: #444;
  display: flex;
  border-radius: 0.5em;
}

.more-btn img {
  width: 4em;
  height: 1.7em;
}

.main-section {
  position: relative;
}

.parent-grid-div {
  position: relative;
  max-width: 100%;
  height: 200vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.upper-text {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.div-text {
  width: 30%;
  position: absolute;
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
  background: white;
  z-index: 1;
}

.main-content-div {
  max-width: 50vw;
  height: 100vh;
  display: inline-block;
  background: #888;
}

.img-div img {
  width: 5em;
  margin-right: 1em;
}

.rotate-up {
  transition: all 0.5s ease-out;
  transform: rotate(-15deg);
  box-shadow: 0 40px 35px -25px rgb(0, 0, 0);
}

.rotate-up:hover {
  transition: all 0.5s ease-out;
  transform: rotate(0deg);
}

.light-gray {
  background: #555;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.medium-gray {
  background: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark-gray {
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  color: #fff;
  width: 80%;
  height: 70%;
  margin: 0 auto;
  padding: 1em;
}
.rick {
  font-style: italic;
}
.img-div img {
  border: 5px solid white;
  border-radius: 5px;
}
.img-div {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  font-size: 1.2em;
  font-weight: 600;
}

.author-description {
  font-size: 2em;
  font-weight: 700;
}
/* 
==============================================================================================================
    Text Section Style
=============================================================================================================== */

.text-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 100%;
  height: 90%;
  background: #888;
}
.group-text {
  margin: 2em;
}

.heading-text {
  width: 90%;
  font-size: 1.7em;
  line-height: 1em;
  font-weight: 700;
}

.text-description {
  font-size: 1.4em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.arrow {
  width: 10em;
  height: 5em;
  margin-top: 41%;
}

.arrow:hover {
  cursor: pointer;
}

.box:hover {
  background-color: white;
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

.box:hover .arrow {
  background-color: #444;
}

.tv-section {
  display: flex;
  width: 100%;
  background-color: #888;
}

.tv-section-box {
  width: 35%;
  height: 100vh;
}

.tv-section .new-on-tv {
  width: 60%;
  height: 100vh;
  background-color: #444;
  border-radius: 5px;
}

.wide-background {
  height: 100vh;
  text-align: center;
  line-height: 1.5em;
  color: white;
  font-size: 2.5em;
}
.wide-background p {
  width: 60%;
  line-height: 1em;
}
.btn {
  margin-top: 8%;
  width: 20%;
  height: 10%;
  border-radius: 5px;
  border: none;
  font-weight: 800;
}

.remote-section {
  height: 200vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
}

.week-person {
  background: lawngreen;
}
.remote-6 {
  background: lightcoral;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
